/*About*/
#banner.about-banner{
    background-image: url(../img/banner/About-banner.jpg);
    min-height: 35vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size:cover;
    background-position: center;
}
#banner p{
    color: #000;
}
#banner h2{
    color: #000;
}

.info-about img{
    height: auto;
    width: 40%;
    border-radius: 10px;


}
.info-about{
    display: flex;
    align-items: self-start;
    margin: 20px  40px;
}

.More{
    margin: 30px 60px;
    padding-left: 60px;
}
.More h2{
    font-size: 30px;
    font-weight: 600;
}

.More p{
    font-size: 20px;
    padding-top: 10px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin-top: 30px;
}
#about-app .video video{
    height: 100%;
    width: 70%;
    border-radius: 20px;
    margin-left: 35%;
}

/*ABOUT-RESPONSIVE*/
@media(max-width:480px){
    #banner.about-banner{
        min-height: 20vh;
        margin: 0;
        
    }
    #banner h2{
        font-size: 20px;
    }
    
    .info-about img{
        height: auto;
        width: 100%;
        border-radius: 10px; 
        padding: 7%;
        border-radius: 50px; 
        
    
    
    
    }
    .info-about{
        display: block;
        
        margin:0px;
        
    }
    
    .More{
        margin:0px;
        padding: 0% 10% 10% 10%;
        
    }
    .More h2{
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 6%;
    }
    
    .More p{
        font-size: 15px;
        padding-top: 0px;
        text-align: center;
    }
    
    #about-app{
        text-align: center;
    }
    
    #about-app .video{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
     
    }
    #about-app .video video{
        height: 100%;
        width: 70%;
        border-radius: 20px;
        margin-left: 0%;
    }
    
    
        
                
        
}