*{
   
    font-family: Kaisei HarunoUmi;
    
  } 

/*About*/


#About-banner{
    background-image: url(../img/banner/About_banner.png);
    width:100%;
    background-size: cover;
  
}
#About-banner h1{
    text-align: center;
    font-size: 84px;
    color: rgb(188, 148, 85);
    padding: 3%;
  
    font-weight: bolder;
    backdrop-filter: brightness(83%);
}


#Our-story h2{
    font-weight: 300;
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: #000;
    padding-top: 10%;
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 9%;
}
 h3{
    padding-top: 8%;
    font-size: 21px;
    width: 500px;
    font-weight: 100;
}

.container img{
    border-radius: 7%;
    height: 490px;
}

.more{
    padding-top: 6%;
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .more img{
    height: 600px;
    width: 100%;
  }