/* Home Page*/
#Hero{

    font-size: 130%;
    background-image: url(../img/banner/Main1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: top ;
    padding: 0px 85px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
    

}

#Hero h4{
  margin-bottom: 15px; 
  color:var(--lowmid);
  font-size: 33px;
  font-family: Kaisei HarunoUmi;

}
#Hero h2{

    color:var(--lowmid);
    font-size: 43px;
  
  }
  #Hero h2 span{
    color: var(--dark);
  }


#Hero button{
    background-image: url(../img/button.png);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border:0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    margin: 15px;
}


/* Categories*/


.title1 {
  margin-top: 200px;
  font-size: 30px;
  text-align: center;
  margin: 35px auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--dark);
}


#categories{
    display: flex;
    justify-content: center;
    gap: 100px;
   }
  
  
   .padding-large img{
    border-radius: 5%;
    width: 250px;
    height: 330px;
   }
  
   .projetc-preiview-content h2 {
    text-align: center;
    color: var(--dark);
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
   }

/****New Products**/

.row{
  display: flex;
  padding-left: 10%;
  
}

.colum {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.4s;
}
.colum img {
  width:  200px;
  border-radius: 14%;
  /* border: radius 20px; */
}
.title {
  font-size: 30px;
  text-align: center;
  text-align: center;
  margin: 50px auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--dark);
}
.title::after {
  content: "";
  background: var(--lowmid);
  width: 160px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: var(--dark);
  font-weight: normal;
}
.colum p {
  font-size: 17px;
}
.colum:hover {
  transform: translateY(-30px);
}


/****why-us**/

#Why-Us{
  height: 420px;
  width: 100%;

}


.container1 h2{
  text-align: center;
  font-size: 35px;
  padding-top: 25px;
}
.info{
  justify-content: center;
  display: flex;
  gap: 60px;
  margin-top: 20px;
}



 /*News-letter*/

 #newsletter{
  background-image: url(../img/banner/Newsletter.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
 }

 .form {
  display: flex;
  justify-content: center;
  padding-top: 200px;
 }
 #newsletter input{

  font-size: 15px;
  width: 300px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}



@media(max-width:1000px){
  

   /* Hero---------*/

  #Hero {

    background-image: url(../img/banner/Main-tablet.jpg);
    }

    #Hero h4 {
      font-size: 48px;

   }

   #Hero button{
    padding-bottom: 60%;
   }

     /**------Categories--**/



     .title1 {
      font-size: 30px;
     }

     
     #categories{
         
         display: grid;
         grid-template-columns: auto auto ;

        }
        .projetc-preiview-content h2 {
          text-align: center;
          color: var(--dark);
          font-size: 30px;
          font-style: normal;
          font-weight: 100;
          line-height: normal;
         }

           /****New Products**/

          .row { 
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: 400px auto ;
            padding-left: 0%;
          }
      

            /****why-us**/

            .info{

              display: grid;
              grid-template-columns: auto auto ;
            
              
            }

            /*News-letter*/

#newsletter{
  margin-top: 180px;
  background-image: url(../img/banner/Newsletter_responsive.png);
  width: 100%;
  height: 300px;
  
 }



 .form {
  width: 250px;
  display: flex;
  padding-top: 250px;
  padding-left: 80px;
 }
            
                 
       
    
    

  

 

}
 





   


  @media(max-width:420px){
     /* Hero---------*/
     #Hero{
    
      font-size: 100%;
      background-image: url(../img/banner/Main-responsive.png);
      background-position: top 0% right 0%;
      background-size: cover;
      background-position:  69%;
      padding:0px 0px;
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 10%;
      padding-bottom:130%;
      margin-bottom: 5%;}
      
      
 
      
  
      #Hero h4{
        padding-top: 25%;
        font-size: 56px;
      
        }

        
    
    #Hero h2{
      font-size: 28px;
    }

    #Hero button{
      background-image: url(../img/button.png);
      background-color: transparent;
      color: #000;
      border:0;
      background-repeat: no-repeat;
      cursor: pointer;
      font-size: 14px;
      margin-top: 6px;

      }

      

      /**------Categories--**/



      .title1 {
       font-size: 30px;
      }

      
      #categories{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         }
        
        
         .padding-large img{
          border-radius: 3%;
          height: 400px;
         }
        
         .projetc-preiview-content h2 {
          text-align: center;
          color: var(--dark);
          font-size: 30px;
          font-style: normal;
          font-weight: 100;
          line-height: normal;
         }


         /****New Products**/

        .row{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0px;
        
           }

       
          .colum img {
             border-radius: 14%;
             }


 
         /****why-us**/

            #Why-Us{
              height: 1340px;
              width: 100%;
             
 
                 }

.info{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.info img{
  height: 250px;
  width: 280px;
}
 
/*News-letter*/

#newsletter{
  background-image: url(../img/banner/Newsletter_responsive.png);
  width: 100%;
  height: 300px;
  
 }



 .form {
  width: 250px;
  display: flex;
  padding-top: 150px;
  padding-left: 80px;
 }
 #newsletter input{

  font-size: 15px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

 




 
  }
   






