/* Home Page*/
#Hero{

    font-size: 130%;
    background-image: url(../img/banner/Main1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: top ;
    padding: 0px 85px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
    

}

#Hero h4{
  margin-bottom: 15px; 
  color:var(--dark);
  font-size: 33px;
  font-family: Kaisei HarunoUmi;

}
#Hero h2{

    color:var(--dark);
    font-size: 43px;
  
  }
  #Hero h2 span{
    color: var(--white);
  }


#Hero button{
    background-image: url(../img/button.png);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border:0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    margin: 15px;
}




/****New Products**/


.best-seller {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}





.seller h2 {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 65px;
  font-size: 30px;
}

.seller .best-p1 {
  width: 250px;
  height: 370px;
  /* border: 2px solid black; */
}

.seller .best-p1 img {
  height: 250px;
  width: 250px;
}

.seller .best-p1 .price {
  display: flex;
  justify-content: space-between;
}

.seller .best-p1 .price .colors input[type="radio"] {
  color: #000;
  background-color: #000;
}

.best-seller .buy-now a {
  text-decoration: none;
  color: var(--white);
}

.seller a:hover {
  color: #13090c;
}

.best-seller .buy-now button,
.best-seller .add-cart button {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #000000;
  color: var(--white);
  border: none;
  font-weight: 500;
  border: 1px solid #000000;
  transition: 0.5s;
}

.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
  background-color: var(--white);
  font-weight: 600;
}

.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover a {
  color: #150006;
}














/****why-us**/

#Why-Us{
  height: 420px;
  width: 100%;

}


.container1 h2{
  text-align: center;
  font-size: 35px;
  padding-top: 25px;
}
.info{
  justify-content: center;
  display: flex;
  gap: 60px;
  margin-top: 20px;
}



 /*News-letter*/

 #newsletter{
  background-image: url(../img/banner/Newsletter.png);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
}
.discount{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 29px;
  gap: 30px;
  

}
.discount h2{
  font-size: 43px;
 color: var(--dark);

}

.form {
  display: flex;
  justify-content: center;

 }

#newsletter input{

  font-size: 15px;
  width: 300px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}


@media(max-width:1200px){
  

   /* Hero---------*/

  #Hero {
      align-items: center;
    background-image: url(../img/banner/Main-tablet.jpg);
    }

    #Hero h4 {
      font-size: 48px;

   }

   #Hero button{
    padding-bottom: 60%;
   }

       
           /****New Products**/

           .best-seller{
         
            display: grid;
            grid-template-columns: auto auto ;
   
           }
          

            /****why-us**/

            .info{

              display: grid;
              grid-template-columns: auto auto ;
            
              
            }

            /*News-letter*/

#newsletter{
  margin-top: 180px;
  background-image: url(../img/banner/Newsletter-tablet.png);
  width: 100%;
  height: 300px;
  
 }



 .form {
  width: 250px;
  display: flex;
  
 }
            
                 
       
    
    

  

 

}
 





   


  @media(max-width:580px){
     /* Hero---------*/
     #Hero{
    
      font-size: 100%;
      background-image: url(../img/banner/Main-responsive.png);
      background-position: top 0% right 0%;
      background-size: cover;
      background-position:  69%;
      padding:0px 0px;
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 10%;
      padding-bottom:130%;
      margin-bottom: 5%;}
      
      
 
      
  
      #Hero h4{
        padding-top: 25%;
        font-size: 56px;
      
        }

        
    
    #Hero h2{
      font-size: 28px;
    }

    #Hero button{
      background-image: url(../img/button.png);
      background-color: transparent;
      color: #000;
      border:0;
      background-repeat: no-repeat;
      cursor: pointer;
      font-size: 14px;
      margin-top: 6px;

      }

      

      /**------Categories--**/



      .title1 {
       font-size: 30px;
      }

      
      #categories{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         }
        
        
         .padding-large img{
          border-radius: 3%;
          height: 400px;
         }
        
         .projetc-preiview-content h2 {
          text-align: center;
          color: var(--dark);
          font-size: 30px;
          font-style: normal;
          font-weight: 100;
          line-height: normal;
         }


         /****New Products**/

         .best-seller {
          display: flex;
          flex-direction: column;
          align-items: center;}


 
         /****why-us**/

            #Why-Us{
              height: 1340px;
              width: 100%;
             
 
                 }

.info{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.info img{
  height: 250px;
  width: 280px;
}
 
/*News-letter*/

#newsletter{
  background-image: url(../img/banner/Newsletter.png);
  width: 100%;
  height: 300px;
 
  
}


 .form {
  width: 250px;
  display: flex;

 }
 #newsletter input{

  font-size: 15px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

 




 
  }
   






