/*-----------------SHOP PAGE--------------------*/
#shop-banner{
    background-image: url(../img/banner/Shop_banner.png);
    width:100%;
    display: flex;
    min-height: 35vh;
    font-size: 27px;
    color: var(--highmid);
    background-size: cover;
    justify-content: center;
    align-items: center;
  
  
  }
    /*Filters */
    .product-filter {
      margin: 3% ;
      display: flex;
      justify-content: left;
      
    }

    .product-filter > h1 {
      margin-right: auto;
    /*   flex: 1 0 auto; */
    }

    .sort {
      display: flex;
    }
    
    .collection-sort {
      display: flex;
      flex-flow: column wrap;
      padding: 10px;
      margin: 10px;
    }
    
    .collection-sort > label {
      margin-bottom: 10px;
    }


  

  /*Shop Content */
 


.best-seller {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}





.seller h2 {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 65px;
  font-size: 30px;
}

.seller .best-p1 {
  width: 250px;
  height: 370px;
  /* border: 2px solid black; */
}

.seller .best-p1 img:hover{
  transform: translateY(-30px);
  transition: .3s;
}

.seller .best-p1 img {
  height: 250px;
  width: 250px;
  transition: transform .3s;
}

.seller .best-p1 .price {
  display: flex;
  justify-content: space-between;
}

.seller .best-p1 .price .colors input[type="radio"] {
  color: #000;
  background-color: #000;
}

.best-seller .buy-now a {
  text-decoration: none;
  color: var(--white);
}

.seller a:hover {
  color: #13090c;
}

.best-seller .buy-now button,
.best-seller .add-cart button {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #000000;
  color: var(--white);
  border: none;
  font-weight: 500;
  border: 1px solid #000000;
  transition: 0.5s;
}

.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
  background-color: var(--white);
  font-weight: 600;
}

.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover a {
  color: #150006;
}









  
  

  /*SHOP-RESPONSIVE*/
  @media(max-width:1200px){
    #shop-banner{
        width:100%;
        display: flex;
        min-height: 30vh;
        padding: 0px 0px;
        font-size: 18px;
        color: #6C1919;
        background-position: 10%;
        align-items: center;
        
        
        
        
      }
      #shop-banner h1{
        padding-left: 50%;
        margin-right: 5%;
        text-align: center;
        margin-left: 0px;
        
      }

      .best-seller{
         
        display: grid;
        grid-template-columns: auto auto ;

       }

       .seller .best-p1 img:hover{
        transform:none;
      }
      .product-filter {
      margin: 2%;
        display: flex;
        justify-content: left;
        
      }
      
      
      

}

@media(max-width:580px){

 
  .best-seller {
   
    display: flex;
    flex-direction: column;
    }

    .sort {
      font-size: 1.5rem;
      margin-top: 10%;  
       align-items: right;
      
    }
      

}