body{
<<<<<<< HEAD
    background-color: #faf9f8;
}
#profile{
    display: flex;
=======
    background-color: rgb(255, 244, 252);
}
#profile{
    display: flex;

>>>>>>> a891bb3649e080812e7fdbf9cb292f132a2d571a
    flex-wrap: nowrap;

}
#profile .member_welcome{
<<<<<<< HEAD
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;

    
=======
    width: 200px;
    height: 200px;
    background: aliceblue;
    margin: 50px;
    border-radius: 10px;
    font-size: 16px;
>>>>>>> a891bb3649e080812e7fdbf9cb292f132a2d571a
    
    
}
#profile .content{
<<<<<<< HEAD
    width: 100%;
    min-height: 700px;
    margin: 50px 50px 0 10px ;
    border-radius: 10px;
 

}
#profile .content h2 {
    margin-bottom:   50px ;
}


#username {
    padding:   20px ;
    border-bottom:1px solid silver ;


}
.content a {
    margin-left:10px;

    
}



=======
    background: aliceblue;
    width: 700px;
    height: 400px;
    margin: 50px;
    border-radius: 10px;

}
>>>>>>> a891bb3649e080812e7fdbf9cb292f132a2d571a
.member_welcome h4{
    margin-left: 5px;
    margin-bottom: 20px;
}
<<<<<<< HEAD
button {
    font-size: 14px;
    padding: 3px 3px;
    color: #1a1a1a;
    background-color: #faf9f8;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    text-align: start;
    width: 80%;
    padding-left: 10px;
    margin-bottom: 2px;


    }
button:hover {
    color: brown;
    
        }

=======
.member_welcome a{
    display: block;
    cursor: pointer;
    
}
.member_welcome a:hover{
    color: brown;
}
>>>>>>> a891bb3649e080812e7fdbf9cb292f132a2d571a

#hello{
    text-align: start;

}
#icon{
    color: black;
    font-size: 19px;
<<<<<<< HEAD
 
=======
}
#orders{
    width:200px;
    padding-left: 10px;
    margin-bottom: 5px;
    background: white;
    border-radius: 20px;

}
#setting{
    padding-left: 10px;
    margin-bottom: 5px;

}
#sign_out{
    width:200px;
    padding-left: 10px;
    margin-bottom: 5px;
    background: white;
    border-radius: 20px;
   
>>>>>>> a891bb3649e080812e7fdbf9cb292f132a2d571a
}

