body{
    background-color: #faf9f8;
}
#profile{
    display: flex;
    flex-wrap: nowrap;

}
#profile .member_welcome{
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;

    
    
    
}
#profile .content{
    width: 100%;
    min-height: 700px;
    margin: 50px 50px 0 10px ;
    border-radius: 10px;
 

}
#profile .content h2 {
    margin-bottom:   50px ;
}


#username {
    padding:   20px ;
    border-bottom:1px solid silver ;


}
.content a {
    margin-left:10px;

    
}



.member_welcome h4{
    margin-left: 5px;
    margin-bottom: 20px;
}
button {
    font-size: 14px;
    padding: 3px 3px;
    color: #1a1a1a;
    background-color: #faf9f8;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    text-align: start;
    width: 80%;
    padding-left: 10px;
    margin-bottom: 2px;


    }
button:hover {
    color: brown;
    
        }


#hello{
    text-align: start;

}
#icon{
    color: black;
    font-size: 19px;
 
}

